@import './quasar.variables';
@import '~quasar-styl';

// @import '~quasar-addon-styl'

// base color
$bg-color-1 = rgb(255, 255, 255);
$bg-color-2 = rgb(228, 228, 228);
$tab-bg-color = rgb(129, 129, 129);
$bt-primary-color = #367fa9;
$bt-dark-color = #343a40;
$base-bg-color = #ffffff;
// other color
$text-base-white = #eeeeee;
$text-base-black = #444444;

// common style
body {
  line-height: 1.15;
  color: $text-base-black;
  // background: radial-gradient(#fff, #778);
  background-color: #ddd;
}

// quasar style override
.text-black {
  color: $text-base-black !important;
}

.text-white {
  color: $text-base-white !important;
}
