// app branding quasar style override
$primary = #367fa9;
$secondary = rgb(0, 113, 188);
$tertiary = rgb(129, 129, 129);
$neutral = rgb(228, 228, 228);
$positive = rgb(0, 159, 58);
$negative = rgb(226, 7, 7);
$info = rgb(0, 113, 188);
$warning = rgb(210, 218, 34);

/* default
$primary   = #027be3
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
*/
@import '~quasar-variables';
